{
  "minify": true,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "~/src/*": ["src/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strictMode": true
  }
}
